  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

  :root {
    --cor-principal: #bd93f9;
    --cor-secundaria: #50fa7b;
    --cor-destaque: #ff79c6;
    --cor-basica: #ded5ea;
  }

  body {
    font-family: 'Tilt Neon', sans-serif;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    ;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--cor-principal);
  }

  a {
    color: var(--cor-destaque);
  }

  header {
    display: flex;
    padding: 16px;
    justify-content: center;
    border-bottom: 1px solid var(--cor-basica);
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 760px;
  }

  nav>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }


  nav a {
    color: var(--cor-principal);
  }

  main {
    max-width: 760px;
    margin: 0 auto;
  }


  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border: 1px solid var(--cor-principal);
    border-radius: 4px;
    padding: 32px;
    max-width: 300px;
    margin: 0 auto;
  }

  input {
    padding: 8px;
    border: 1px solid var(--cor-principal);
    border-radius: 4px;
  }

  button {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-principal);
    padding: 8px;
    border-radius: 4px;
    text-transform: uppercase;
  }

  input:focus-visible {
    outline-color: var(--cor-destaque);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: var(--cor-basica);
  }

  .titulo {
    text-align: center;
  }


  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: var(--cor-secundaria);
  }

  .sair {
    color: var(--cor-destaque);
    cursor: pointer;
  }